
video {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

#con {
    height: 100vh;
}

.Hero-con{
    background-color: rgba(0,0,0,0.6);
    height:100%;
    width:100%;
}

.dark-theme{
    background-color: rgba(0,0,0,0.6);
}
.navbar {
    font-size: 1.2rem;
}
.navbar-brand{
    /* font-size: 1.6rem; */
    margin-right: 25%;
    /* margin-left: 1.6rem; */
}
.imgCard{
    height: 15rem;
    width: 12rem;
}

.card-con{
    margin-top:4.5rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* padding:15rem 15rem; */
}

.card-con2{
    width: 80%;
}